.image{
	background-image: url(../assets/images/taxi.jpg); 
	height:40em;
	background-position-y :bottom;
	background-size: cover;
	margin-top:-20px;

}

#troncito {
	width: 26em;
	height: 30em;
	margin-left: em;
	background-color: #f7b617;
}

#troncito h3 p {
	margin-left: 35px;
}
.yellow {
	width: 100%;
	height: 50em;
	padding-top: 5.25em;
	padding-left: 6.25em;
	background-color: #f7b617;
	display:inline-flex;

}

#iphone {
	padding: 1em;
}

#border {
	border: 1px solid #fff;
}

.centrar {
	text-align: justify;
	font-size: 1.5em;
	padding: 0.5em;
	color:#fff;
}

h3 {
	color:#fff;
}
.row-drive {
	background-image:url(../assets/images/conduce.jpg);
	background-size: cover;
	height: 35em;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

#transparent {
	background-color: rgba(0,0,0,0.5);
	height: 35em;
}

.yellow2 {
	background-color: #f7b617;
	color:#FFF;

}

.white {
	padding-top:2em;
}

.mover {
	padding-left: -0.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  font-size: 18px;
}


.map {
	padding-top: 5em;
	width: fit-content;
  outline: 1px solid #fff;
  padding: 0.5em;
  margin: 3em auto;
}

#center {
	margin-left: 55px;
}

footer{
	background-color: #21313F;
	color:#fff;
}

.social {
	display: inline-flex;
	padding-top: 15em;
}

.text , .txt , .icons ,.social {
	list-style: none;
}

 p {
	color:#fff;

}

.fa {
	color: #fff;
	padding: 10px;

}

/*modal*/

.panel-footer {
  padding: 1px 15px;
  color: #A0A0A0 ;
}

.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.log-in {
  margin-left: 165px;
}

.form-control {
  margin-bottom: 10px;
}

#navPrincipal{	

	float: right;
}